@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200;400;600;700;800&display=swap");

:root{
    font-size: 62.5%;
    --dark-blue: #32425B;
    --light-green: #1ED5B9;
    --white: #ffffff;
    --grey: #919BA7;
    --ultra-light-green: #89E1CE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

body{
    background-color: var(--ultra-light-green);
}

.container{
    width: 35rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--dark-blue);
}

.title > h1{
    color: var(--white);
    text-align: center;
}

.title > p{
    color: var(--light-green);
    text-align: center;
    font-size: 1.5rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-control p{
    color: var(--white);
    margin-bottom: 0.5rem;
}

input{
    width: 100%;
    padding: 0.5rem;
    color: var(--white);
    outline: none;
    border: 1px solid var(--grey);
    background-color: transparent;
}

input::placeholder{
    color: var(--grey);
}

.submit{
    padding: 0.5rem;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--light-green);
    text-align: center;
}

